Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  readability-braces-around-statements,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -cert-err33-c,
  -misc-no-recursion,
  -misc-include-cleaner,
  -readability-braces-around-statements
WarningsAsErrors: >
  clang-analyzer-*,
  bugprone-use-after-move,
  bugprone-dangling-handle,
  cert-str34-c
HeaderFilterRegex: 'src/.*'
